PORT=3000
PORTKEY_BASE_URL=https://your-portkey-js.com/v1 # https://github.com/MarcosFRG/PortkeyJS

PL_APIKEY=sk_… # pollinations.ai
A_APIKEY=sk-air-… # api.airforce
LF_APIKEY=lfu_…- # logfare.ai
HP_APIKEY=sk-hapuppy-… # hapuppy.com
NV_APIKEY=sk-navy-… # navy.ai
R_APIKEY=sk-… # routeway.ai
OL_APIKEY=… # ollama.cloud
LR_APIKEY=… # literouter.com
PX_APIKEY=sk-paxsenix-… # paxsenix.org
FA_APIKEY=sta_… # freetheai.xyz
NG_APIKEY=ng-… # naga.ac
AQ_APIKEY=aqua_sk_… # aquadevs.com