PORT=3000
PORTKEY_BASE_URL=https://your-portkey-js.com/v1 # https://github.com/MarcosFRG/PortkeyJS

PL_APIKEY=sk_… # pollinations.ai
A_APIKEY=sk-air-… # api.airforce
LF_APIKEY=lfu_…- # logfare.ai
HP_APIKEY=sk-hapuppy-… # hapuppy.com
NV_APIKEY=sk-navy-… # navy.ai
R_APIKEY=sk-… # routeway.ai
OL_APIKEY=… # ollama.cloud
LR_APIKEY=… # literouter.com
PX_APIKEY=sk-paxsenix-… # paxsenix.org
FA_APIKEY=sta_… # freetheai.xyz
NG_APIKEY=ng-… # naga.ac
AQ_APIKEY=aqua_sk_… # aquadevs.com
TR_APIKEY=sk-… # tokenreply.com
CB_APIKEY=csk-… # cerebras.ai
ZM_APIKEY=sk-mg-v1-… # zenmux.ai
AU_APIKEY=sk-… # aihubmix.com
RQ_APIKEY=rqsty-sk-… # requesty.ai
SF_APIKEY=sixfinger_… # api.sixfinger.live
OV_APIKEY= # https://oai.endpoints.kepler.ai.cloud.ovh.net